{% extends "base.html" %}

{% block content %}
    <h1>Edit Existing Report Form</h1>

    <div class="form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table align="center">
                <tbody>
                    <tr><td>{{ form.report_id.label }}</td><td>{{ form.report_id(size=34) }}</td></tr>
                    <tr><td>{{ form.ssn.label }} </td><td> {{ form.ssn(size=38) }}</td></tr>
                    <tr><td>{{ form.doc_id.label }}</td><td>{{ form.doc_id(size=37) }}</td></tr>
                    <tr><td>{{ form.med_id.label }} </td><td> {{ form.med_id(size=38) }}</td></tr>
                    <tr><td>{{ form.purpose.label }}</td><td>{{ form.purpose(size=31) }}</td></tr>
                    <tr><td>{{ form.patient_info.label }} </td><td> {{ form.patient_info(size=35) }}</td></tr>
                </tbody>
            </table>
            <p class = "pt-4">{{ form.submit() }}</p>
        </form>    
    </div>
{% endblock %}

