{% extends "base.html" %}

{% block content %}
    <h1>Edit Existing Doctor Form</h1>

    <div class="form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.doc_id.label }} {{ form.doc_id(size=34) }}</p>
            <p>{{ form.doc_name.label }} {{ form.doc_name(size=38) }}</p>
            <p>{{ form.address.label }} {{ form.address(size=37) }}</p>
            <p>{{ form.department.label }} {{ form.department(size=37) }}</p>
            <p>{{ form.hospital_name.label }} {{ form.hospital_name(size=37) }}</p>
            <p>{{ form.submit() }}</p>
        </form>    
    </div>
{% endblock %}