{% extends "base.html" %}

{% block content %}


    {% if error %}
        <div class="alert alert-danger alert-dismissible">
            <a href="/newpatient" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong> There is already a patient with this id: {{form.ssn.data}}
        </div>
    {% endif %}
    <h1 class='pt-4 mb-4'>New Patient Form</h1>

    <div class="form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table align="center">
                <tbody>
                    <tr><td>{{ form.ssn.label }}</td><td>{{ form.ssn(size=30) }}</td></tr>
                    <tr><td>{{ form.full_name.label }} </td><td> {{ form.full_name(size=30) }}</td></tr>
                    <tr><td>{{ form.dob.label }}</td><td>{{ form.dob(size=30) }}</td></tr>
                    <tr><td>{{ form.phone.label }} </td><td> {{ form.phone(size=30) }}</td></tr>
                    <tr><td>{{ form.gender.label }}</td><td>{{ form.gender(size=30) }}</td></tr>
                </tbody>
            </table>
            <p class = "pt-4">{{ form.submit() }}</p>
        </form>   
    </div>
{% endblock %}