{% extends "base.html" %}

{% block content %}
    <h1>New Patient Form</h1>
    <p>{% if error %}*{{error}}*{% endif%}</p>
    <div class="form">
        <form action="" method="post" novalidate>
            <!-- sizes of forms are so wack so that they line up with our current prompts -->
            {{ form.hidden_tag() }}
            <p>{{ form.ssn.label }} {{ form.ssn(size=32) }}</p>
            <p>{{ form.full_name.label }} {{ form.full_name(size=28) }}</p>
            <p>{{ form.dob.label }} {{ form.dob(size=32) }}</p>
            <p>{{ form.phone.label }} {{ form.phone(size=31) }}</p>
            <p>{{ form.gender.label }} {{ form.gender(size=30) }}</p>
            <p>{{ form.submit() }}</p>
        </form>    
    </div>
{% endblock %}