{% extends "base.html" %}

{% block content %}
    <h1>New Patient Form</h1>

    {% if error %}
        <!--<div class="createNew">Created new Report for Patient {{form.ssn.data}}</div>-->
        <div class="alert alert-danger alert-dismissible">
            <a href="/newpatient" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong> There is already a patient with this id: {{form.ssn.data}}
        </div>
    {% endif %}

    <div class="form">
        <form action="" method="post" novalidate>
            <!-- sizes of forms are so wack so that they line up with our current prompts -->
            {{ form.hidden_tag() }}
            <p>{{ form.ssn.label }} {{ form.ssn(size=32) }}</p>
            <p>{{ form.full_name.label }} {{ form.full_name(size=28) }}</p>
            <p>{{ form.dob.label }} {{ form.dob(size=32) }}</p>
            <p>{{ form.phone.label }} {{ form.phone(size=31) }}</p>
            <p>{{ form.gender.label }} {{ form.gender(size=30) }}</p>
            <p>{{ form.submit() }}</p>
        </form>    
    </div>
{% endblock %}