{% extends "base.html" %}

{% block content %}
    <h1>New Report Form</h1>
    <p>{% if error %}*{{error}}*{% endif%}</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.report_id.label }} {{ form.report_id(size=32) }}</p>
        <p>{{ form.ssn.label }} {{ form.ssn(size=32) }}</p>
        <p>{{ form.doc_id.label }} {{ form.doc_id(size=32) }}</p>
        <p>{{ form.doc_name.label }} {{ form.doc_name(size=32) }}</p>
        <p>{{ form.doc_address.label }} {{ form.doc_address(size=32) }}</p>
        <p>{{ form.med_id.label }} {{ form.med_id(size=32) }}</p>
        <p>{{ form.purpose.label }} {{ form.purpose(size=32) }}</p>
        <p>{{ form.patient_info.label }} {{ form.patient_info(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>    
{% endblock %}

