{% extends "base.html" %}

{% block content %}
    <h1 class="pt-4 mb-4">New Report Form</h1>

    {% if error %}
        <div class="alert alert-danger alert-dismissible">
            <a href="/newpatient" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong> {{error}}
        </div>
    {% endif %}

    <div class="form pt-4">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table align="center">
                <tbody>
                    <!-- Necessary information -->
                    <tr><td>{{ form.report_id.label }}</td><td>{{ form.report_id(size=35) }}</td></tr>
                    <tr><td>{{ form.ssn.label }} </td><td> {{ form.ssn(size=35) }}</td></tr>
                    <tr><td>{{ form.doc_id.label }}</td><td>{{ form.doc_id(size=35) }}</td></tr>
                    <tr><td>{{ form.med_id.label }} </td><td>{{ form.med_id(size=35) }}</td></tr>
                    <tr><td>{{ form.purpose.label }} </td><td> {{ form.purpose(size=35) }}</td></tr>
                    <tr><td>{{ form.patient_info.label }}</td><td>{{ form.patient_info(size=35) }}</td></tr>
                    <!-- Auxillary information -->
                    <tr><td>{{ form.doc_name.label }}{% if error == "New Doctor Detected: Please Include All Info" %}*{% endif%}</td><td>{{ form.doc_name(size=35) }}</td></tr>
                    <tr><td>{{ form.doc_address.label }}{% if error == "New Doctor Detected: Please Include All Info" %}*{% endif%} {% if error == "New Hospital Detected: Please Include All Info" %}*{% endif%}{% if error == "New Department Detected: Please Include All Info" %}*{% endif%} </td><td> {{ form.doc_address(size=35) }}</td></tr>
                    <tr><td>{{ form.department_name.label }} {% if error == "New Department Detected: Please Include All Info" %}*{% endif%}</td><td>{{ form.department_name(size=35) }}</td></tr>
                    <tr><td>{{ form.hospital_name.label}}{% if error == "New Department Detected: Please Include All Info" %}*{% endif%}{% if error == "New Hospital Detected: Please Include All Info" %}*{% endif%} </td><td> {{ form.hospital_name(size=35) }}</td></tr>
                </tbody>
            </table>
            <p class = "pt-4">{{ form.submit() }}</p>
        </form>   
    </div>
{% endblock %}

