{% extends "base.html" %}

{% block content %}
<div class="lightGreyBackground">
    <h1 class='pt-4 mb-4'>Search</h1>

    {% if error %}
        <div class="alert alert-danger alert-dismissible">
            <a href="/search" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failure!</strong> {{error}}
        </div>
    {% endif %}

    <div class="form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table align="center">
                <tbody>
                    <tr><td>{{ form.patient_id.label }}</td><td>{{ form.patient_id(size=40) }}</td></tr>
                    <tr><td>{{ form.doctor_id.label }} </td><td> {{ form.doctor_id(size=40) }}</td></tr>
                    <tr><td>{{ form.medication_id.label }}</td><td>{{ form.medication_id(size=40) }}</td></tr>
                    <tr><td>{{ form.report_id.label }} </td><td> {{ form.report_id(size=40) }}</td></tr>
                </tbody>
            </table>
            <p class = "pt-4">{{ form.submit() }}</p>
        </form>   
    </div>
</div>
{% endblock %}