{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
    <h1>Search</h1>
    <p>{% if error %}*{{error}}*{% endif%}</p>
    <div class="form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.patient_id.label }}
                {{ form.patient_id(size=40) }}
            </p>
            <p>
                {{ form.doctor_id.label }}
                {{ form.doctor_id(size=40) }}
            </p>
            <p>
                {{ form.medication_id.label }}
                {{ form.medication_id(size=37) }}
            </p>
            <p>
                {{ form.report_id.label }} 
                {{ form.report_id(size=40) }}
            </p>
            <p>{{ form.submit() }}</p>

        </form>
    </div>
{% endblock %}