html,body{
    height:100%;
}
h1 {
    font-weight:bold;
    text-align:center;
}
div.form {
    text-align:center;
}
head {
    color: deeppink;
}
div.createNew{
    position: relative;
    text-align: center;
}
div.centerTable{
    margin: 100px 100px 100px 100px;
}
div.lightGreyBackground{
    background-color: lightgray;
    min-height: 100%;
}
div.darkGreenBackground{
    background-color: #556B2F;
}
p1 {
    font-weight:bold;
}
